html {
    background-color: rgb(245, 245, 245);;
}

.main-row {
    position: relative;
    top: 70px;
    /*min-height: 100%;*/
    background-color: rgb(245, 245, 245);
}

.buttons-row {
    position: relative;
    top: 63px;
    /*min-height: 100%;*/
    /*background-color: rgb(245, 245, 245);*/
}

.side-column {
    background-color: rgb(239, 239, 239);
    min-height: 100%;
}

.navBar {
    position: fixed;
    top: 0%;
    z-index: 100;
    padding: 0%;
}

.nestedTable {
    background-color: rgb(201, 201, 201);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addBorder {
    margin-bottom: 0.5rem;
}

.tableDiv {
    /*position: relative;
    left: 22%;
    width: 70rem;*/
    height: 35rem;
    overflow-y: auto;
    background-color: white;
    /*margin: 2rem;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.login {
    background-color: rgb(201, 201, 201);
    position: absolute;
    top: 30%;
    padding: 2rem;
    border-radius: 25px;
}

.warningMsg {
    position: fixed;
    bottom: 0%;
    margin-left: 42%;
}

.disabledInput {
    width: 10rem;
    padding-top: 0.5rem;
}

.topButtons {
    padding: 2ref;
}

/*.deleteButton {
    position: relative;
    right:0%;
    left: 88%
}*/

.incompatibleCourse {
    background-color: rgb(180, 180, 180);
    color:rgb(95, 95, 95)
}

.needsPreparatoryCourse {
    background-color: #fff3cd;
    color: #664d03;
}

.alertBottom {
    position: fixed;
    bottom: 0.5rem;
    width: 98.6%;
}

.studyplanChoiceButton {
    margin: 1rem;
}

.coloredCount {
    color: #ff9999;
}